@font-face {
  font-family: "Basic Grotesque Arabic Pro-Bold";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Bold.woff2') format("woff2");
}

@font-face {
  font-family: "Basic Grotesque Arabic Pro-Regular";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Regular.woff2') format("woff2");
}

@font-face {
  font-family: "Basic Grotesque Arabic Pro-Light";
  src: url('assets/Fonts/BasisGrotesqueArabicPro-Light.woff2') format("woff2");
}

@font-face {
  font-family: "Proxima Nova Font";
  src: url('assets/Fonts/ProximaNovaFont.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url('assets/Fonts/Montserrat-Light.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('assets/Fonts/Montserrat-Regular.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url('assets/Fonts/Montserrat-Medium.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('assets/Fonts/Montserrat-SemiBold.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('assets/Fonts/Montserrat-Bold.woff2') format("woff2");
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}


.navigateTo,
.restauLink,
.navigateToFooter{
  text-decoration: none !important;
  color: #383737;
  font-family: "Montserrat-Regular",sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.restauLink{
  color: #000000;
}

.navigateToFooter{
  color: #fff;
}

.navigateToFooter:hover{
  color: #000000;
}

.restauLink:visited,
.navigateToFooter:visited{
  color: inherit;
}

.navigateTo:hover{
  color: #f5851f;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

@keyframes slideInFromRight{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes displaySearch{
  from{
    width: 0px;
  }
  to{
    width: 35rem;
  }
}

@keyframes slideInFromLeft{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes slideOutFromRight{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(100%);
  }
}

// @keyframes slideOutFromLeft{
//   from{
//     transform: translateX(100%);
//   }
//   to{
//     transform: translateX(0%);
//   }
// }

// appLayout
.appLayout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // header
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 0.5rem 1rem ;
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100vw;
    z-index: 10000;
    &__container{
      margin: 0 auto;
      width: 1300px !important;
      &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &__logoContainer{
          display: flex;
          align-items: center;
          gap: 1rem;
          &__logo{
            width: 50px;
          }
          &__location{
            cursor: pointer;
            color: #686b78;
            font-family: "Proxima Nova Font";
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 65%;
          }
        }

        // search Container
        &__searchContainer{
          animation: displaySearch 300ms ease-out forwards;
        }
        
        &__searchContainer,
        &__shimmerContainer{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 6px 12px 6px 1.2rem;
          background-color: #f7f9f9;
          border: 1px solid #ebedee;
          border-radius: 30px;
          width: 35rem;
          &__search{
            background-color: #f7f9f9;
            outline: none;
            border: none;
            font-family: "Basic Grotesque Arabic Pro-Light";
            font-size: 18px;
            width: 90%;
          }
          &__btn:hover{
            background-color: #2b7f7b;
          }
          &__btn{
            border: none;
            background-color: #6ac0c4;
            cursor: pointer;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            img{
              width: 20px;
            }
          }
        }
        // Feature
        &__features{
          display: flex;
          align-items: center;
          gap: 1rem;
          &__expandSearch{
            &__btn:hover{
              background-color:#f5851f;
            }
            &__btn{
              display: flex;
              justify-content: center;
              align-items: center;
              outline: none;
              border: none;
              background-color: #6ac0c4;
              border-radius: 50%;
              width: 25px;
              height: 25px;
              img{
                width: 15px;
              }
            }
          }
          &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0;
            li:hover{
              color: #f5851f;
            }
            li{
              list-style: none;
              color: #383737;
              cursor: pointer;
              font-family: "Montserrat-Regular",sans-serif;
              font-size: 1.1rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  // App body
  .appBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 80px - 238.4px);
    width: 1120px;
    top: 6rem;
    z-index: 0;

    &__heading{
      font-family: "Proxima Nova Font";
      font-size: 2.2rem;
      text-align: left;
      padding: 1rem 0;
      width: 74%;
    }

    // Filter button
    .filterButtons{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-top: 1.5rem;
    }

    // restaurant container
    .restauContainer{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem 0;
  
      &__restauCard:hover{
        transform: scale(0.95);
        transition: transform 200ms ease;
      }
      &__restauCard{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 22px 22px 12px 12px;
        border: 1px solid #d9dcdc;
        box-shadow: 2px 2px 6px #dadddd;
        height: 18rem;
        width: 16rem;
        &__image{
          border-radius: 12px;
          height: 150px;
          width: 100%;
          &__img{
            border-radius: 12px;
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
  
        &__details{
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 0 14px 14px 14px;
          &__name{
            font-family: "Basic Grotesque Arabic Pro-Bold";
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &__info{
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: "Basic Grotesque Arabic Pro-Bold";
            font-size: 16px;
            &__star{
              width: 18px;
            }
          }

          &__cuisine,
          &__address{
            font-family: "Basic Grotesque Arabic Pro-Light";
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize !important;
          }
        }
      }
    }
  }
}

//  Shimmer UI
.shimmerBody{
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10rem;
  &__shimmerContainer{
    grid-template-columns: repeat(4, 16rem);
    gap: 2rem;
    padding: 2rem 0;
    display: grid;
    &__shimmerCard{
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 16rem;
      height: 18rem;
      &__image{
        background-color: #eee;
        border-radius: 6px;
        width: 100%;
        height: 150px;
      }
      &__detailsContainer{
        display: flex;
        flex-direction: column;
        gap: 12px;
        :first-child{
          width: 80%;
        }
        :last-child{
          width: 50%;
        }
        &__details{
          background-color: #eee;
          height: 14px;
        }
      }
    }
  }
}

// Primary btn
.primary-btn:hover{
  transform: scale(0.9);
}
.primary-btn{
  cursor: pointer;
  outline: none;
  background-color: white;
  padding: 0.6rem 1.3rem;
  border: 1px solid #d5dada;
  border-radius: 25px;
  box-shadow: 1px 1px 3px #d1cece;
  font-family: "Basic Grotesque Arabic Pro-Regular";
  font-size: 14px;
}

//  About Us
.aboutUs{
  font-family: "Montserrat-Light",sans-serif;
  &__body{
    position: relative;
    top: 80px;
    &__mission,
    &__journey__container,
    &__future__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__mission{
      background-color: #f5851f;
      padding: 3.125rem 3.125rem 6.0625rem;
      &__invertedComma{
        width: 8rem;
      }
      &__content{
        color: #fff;
        font-weight: 300 !important;
        font-size: 30px;
        line-height: 1.4em;
        margin-bottom: 30px;
      }
    }
    &__journey{
      background-color: #FFFFFF;
      padding: 4.375rem 0;
      &__container{
        margin-right: 35px;
        &__img{
          position: relative;
          width: 100%;
          padding: 0 15px;
        }
        &__content{
          font-size: 2.15rem;
          font-weight: 400 !important;
          margin-top: 0;
          margin-bottom: 30px;
          text-align: center;
        }
        b{
          padding-left: 12px;
        }
      }
    }
    &__future{
      border-bottom: 1px solid rgba(0,0,0,.1);
      width: 1300px !important;
      padding: 3rem 15px 4rem;
      margin: 0 auto;
      &__container{
        align-items: center;
        width: 100%;
        &__container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 66.666667%;
          &__content{
            font-family: "Montserrat-SemiBold";
            font-size: 2.9rem;
            margin-bottom: 50px
          }
          &__details{
            font-size: 1.13rem;
            margin-bottom: 1rem;
            line-height: 1.33257rem;
            text-align: center;
          }
        }
      }
    }

    &__overview{
      background-color: #FFFFFF;
      padding: 5.375rem 0 4.375rem;
      width: 100%;
      &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        margin: 0 auto;
        max-width: 1300px !important;
        padding: 3rem 0;
        &__title{
          font-family: "Montserrat-Regular";
          font-weight: 400 !important;
          font-size: 3.1rem;
          line-height: 1.15;
          margin-bottom: 50px;
          padding: 0 15px;
        }
        &__cards{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          padding: 0 15px;
          &__overviewCard{
            border: 1px solid #f5851f;
            border-radius: 6px;
            padding: 30px 0;
            flex: 0 0 25%;
            max-width: 25%;
            &__count{
              font-family: "Montserrat-SemiBold",sans-serif !important;
              font-size: 40px;
              position: relative;
              color: #000000;
              text-align: center;
            }
            &__descrip{
              font-size: 15px;
              text-align: center;
              white-space: pre-line;
            }
          }
        }
      }
    }

    &__companyValue{
      font-family: "Montserrat-Regular",sans-serif;
    }
    &__location{
      font-family: "Montserrat-Regular",sans-serif;
      &__container{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        padding: 5rem 1rem 7rem;
        &__left-section{
          flex: 0 0 50%;
          max-width: 50%;
          padding: 5rem 3rem 3rem;
          &__title{
            font-size: 28px;
            font-weight: 500 !important;
            line-height: 1.6;
            letter-spacing: 8px;
            margin-bottom: 15px;
          }
          &__subTitle{
            color: #f48520;
            font-weight: 400;
            font-size: 2.2rem;
            margin-bottom: 30px;
          }
          &__content{
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 1rem;
          }
          &__contact{
            display: flex;
            align-items: center;
            gap: 1rem;
            p{
              color: #f48520;
              font-family: "Montserrat-Bold",sans-serif;
              font-weight: 700;
              font-size: 14px;
            }
          }
        }
        &__right-section{
          flex: 0 0 50%;
          max-width: 50%;
          padding-left: 2rem;
        }
      }
    }
  }
}

// Value Card
.container{
  display: flex;
  justify-content: center;
  background-color: #94499c ;
  font-family: "Montserrat-Regular",sans-serif;
  &__left-section{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5rem 3rem 3rem;
    &__title{
      color: #fff;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.5;
    }
    &__content{
      color: #fff;
      font-size: 1.1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
  }
  &__right-section{
    flex: 0 0 50%;
    max-width: 50%;
    img{
      height: 100%;
      width: 100%;
    }
  }
}

// Values At Swiggy
.swiggyValues{
  &__body{
    position: relative;
    top: 80px;
    &__topComponent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      &__title{
        color:#f5851f;
        font-family: "Montserrat-SemiBold",sans-serif;
        font-size: 3.1rem;
      }
      &__subTitle{
        font-family: "Montserrat-Regular",sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
      }
      &__content{
        font-family: "Montserrat-Regular",sans-serif;
        font-weight: 400;
        font-size: 1rem;
        padding-top: 2px;
      }
    }
    &__principle{
      padding-top: 2rem;
    }
  }
  &__workContainer{
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 1300px !important;
    text-align: center;
    padding: 70px 0 140px;
    &__title{
      font-family: "Montserrat-Regular";
      font-size: 3rem;
      font-weight: 400 !important;
      margin-bottom: 50px;
    }
    &__container{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
      padding: 0 15px;
      width: 1300px !important;
    }
  }
}

.lifeCardContainer{
  background-color: #f2f2f2;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__cardImg{
    width: 403px;
    &__link{
      list-style: none;
      img{
        border-radius: 2px;
        width: 100%;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 20px;
    &__title{
      font-family: "Montserrat-Medium";
      font-size: 25px;
      font-weight: 500 !important;
    }
    &__details{
      font-family: "Montserrat-Regular";
      font-size: 1rem;
      line-height: 1.7;
      text-align: left !important;
    }
  }
}

.reverse{
  flex-direction: row-reverse;
  background-color: #f5851f;
  text-align: right;
}

.aboutUs-btn{
  border: none;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-width: 1px;
  cursor: pointer;
  color: #fa7a50;
  font-family: "Montserrat-Regular",sans-serif;
  font-size: 20px;
  padding: 15px 48px;
  margin: 10px 1px;
}

// card container
.cardListContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  width: 1270px !important;
  margin: 0 auto;
  &__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.addBorder{
  background: #EFEFEF;
  border-radius: 30px;
  padding: 30px 0;
}

.principleCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  &__content{
    display: flex;
    flex-direction: column;
    &__cardNumber{
      font-family: "Montserrat-Regular";
      font-size: 2.3rem;
      font-weight: 400;
    }
    &__title{
      font-family: "Montserrat-Regular";
      font-size: 1.6rem;
    }
    &__lists{
      &__lists{
        font-family: "Montserrat-Regular";
        font-size: 14px;
        padding-left: 1rem;
        margin-top: 10px;
        li{
          line-height: 1.5;
        }
      }
    }
  }
}

.flexContainer{
  flex: 0 0 25%;
}

// navbar

.navbar{
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 0.5rem 1rem ;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  z-index: 10000;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px !important;
    margin: 0 auto;
    &__logoContainer{
      &__logo{
        width: 150px;
      }
    }
    &__lists{
      &__lists{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        li{
          list-style: none;
          font-family: "Montserrat-Regular",sans-serif;
          font-size: 1.1rem;
        }
      }
    }
  }
}

// footer

.footer{
  background-color: #263749;
  box-sizing: border-box;
  font-family: "Montserrat-Regular",sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  position: relative;
  bottom: -80px;
  width: 100%;
  &__lists{
    &__lists{
      display: flex;
      gap: 2rem;
      li:hover{
        color: #000000 !important;
      }
      li{
        cursor: pointer;
        list-style: none;
        color: #fff !important;
      }
    }
  }
  &__copyright{
    color: #fff;
    font-size: 14px;
  }
}

.mediaIcon {
  &__mediaIconList{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    li{
      cursor: pointer;
      color: #ffffff;
      font-size: 25px;
      list-style: none;
      &:hover{
        color: #000000;
      }
    }
  }
}

.mediaNavbar{
  color: #000000 !important;
}
.mediaNavbar:hover{
  color: #f5851f !important;
}

.mediaFooterList{
  gap: 6rem;
}
.mediaFooterLists{
  font-size: 33px !important;
}

.circular-map {
  width: 605px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
}

.map-container{
  width: 100%;
  height: 100%;
}

// restaurantMenu

.restaurantMenu{
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 800px;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    &__details{
      border-bottom: 0.5px solid #d3d3d3;
      padding: 0 16px 18px;
      width: 100%;
      &__restaurantName{
        font-family: "Basic Grotesque Arabic Pro-Bold";
        font-size: 30px;
        padding-bottom: 30px;
      }
      &__restaurantDetails{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__restaurantNameAddress{
          font-family: "Proxima Nova Font";
          &__name{
            font-size: 1.43rem;
            font-weight: 600;
            color: #282c3f;
            text-transform: capitalize;
            margin-bottom: 8px;
          }
          &__cuisine,
          &__address{
            font-size: .93rem;
            color: #7e808c;
            margin-bottom: 4px;
          }
          &__cuisine{
            overflow: hidden;
          }
        }
        &__restaurantRatings{
          border: 1px solid #e9e9eb;
          box-shadow: 0 1px 5px #f9f9f9;
          border-radius: 6px;
          text-align: center;
          padding: 8px;
          max-width: 100px;
          font-family: "Proxima Nova Font";
          &__avgRating{
            display: inline-flex;
            gap: 4px;
            color: #3d9b6d;
            font-size: 1.1rem;
            padding-bottom: 10px;
            border-bottom: 1px solid #e9e9eb;
          }
          &__totalRating{
            color: #8b8d97;
            font-size: 11px;
            padding-top: 8px;
          }
        }
      }
    }
    &__recommendation{
      width: 100%;
      padding: 24px 16px;
      &__title{
        color: #3e4152;
        font-family: "Proxima Nova Font";
        font-weight: bolder;
        font-size: 1.2rem;
      }
    }
  }
}

// menu card

.menuCard{
  border-bottom: 0.5px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 45px;
  width: 100%;
  &__details{
    font-family: "Proxima Nova Font";
    width: 80%;
    &__itemType{
      width: 15px;
    }
    &__title{
      font-size: 1rem;
      font-weight:600;
      color: #3e4152;
      word-break: break-word;
      padding-top: 4px;
    }
    &__price{
      font-size: 14px;
      font-weight: 300;
      color: #282c3f;
      padding-top: 4px;
    }
    &__items{
      color: rgba(40,44,63,.45);
      letter-spacing: -.3px;
      font-size: 14px;
      padding-top: 14px;
    }
  }
  &__item{
    border-radius: 6px;
    width: 118px;
    height: 95px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
    &__btn{
      border: 1px solid #d4d5d9;
      background-color: #fff;
      box-shadow: 0 3px 8px #e9e9eb;
      border-radius: 4px;
      color: #60b246;
      font-size: .9rem;
      font-weight: 600;
      width: 96px;
      height: 36px;
      position: relative;
      top: -14px;
      left: 12px;
    }
  }
}

.location{
  background: rgba(40, 44, 63, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  position: fixed;
  &__leftSection{
    animation: slideInFromLeft 300ms ease-out forwards;
    background-color: #fff;
    padding: 1.5rem 40px 0 140px;
    font-family: "Proxima Nova Font";
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 562px;
    &__details{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__closeBtn{
        color: #535665;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: "Proxima Nova Font";
        font-style: normal;
      }

      &__input{
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #d4d5d9;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 0 1rem;
        &__input{
          height: 50px;
          width: 90%;
          font-family: "Proxima Nova Font";
          font-size: 1rem;
          background-color: transparent;
          line-height: normal;
          border: none;
          outline: none;
        }
        &__btn{
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          font-family: "Proxima Nova Font";
          font-weight: 600;
          color: #fc8019;
        }
      }
    }
  }
  &__rightSection{
    overflow: hidden;
    height: 100%;
    width: calc(100% - 562px);
  }
}

// sidebar login page
.loginPage{
  background: rgba(40, 44, 63, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  position: fixed;
  &__leftSection{
    overflow: hidden;
    height: 100%;
    width: calc(100% - 562px);
  }
  &__rightSection{
    animation: slideInFromRight 300ms ease-out forwards;
    background-color: #fff;
    padding: 1.5rem 160px 0 40px;
    font-family: "Proxima Nova Font";
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 562px;
    &__details{
      &__closeBtn::before{
        content: "X";
      }
      &__closeBtn{
        color: #535665;
        cursor: pointer;
        font-weight: 600;
        font-family: "Proxima Nova Font";
        font-style: normal;
      }
      &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        &__title{
          margin-top: 25px;
          font-size: 30px;
          font-weight: 600;
        }
        &__imgContainer{
          height: 105px;
          width: 100px;
          img{
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
    &__form{
      &__field{
        border: 1px solid #d4d5d9;
        padding: 0;
        display: block;
        position: relative;
        transform: translateZ(0);
        &__input{
          background-color: transparent;
          line-height: normal;
          border: none;
          outline: none;
          height: 70px;
          width: 100%;
          font-size: 17px;
          margin: 0;
          padding: 22px 20px 0;
          box-sizing: border-box;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 500;
        }
        &__label{
          position: absolute;
          left: 0;
          bottom: 24px;
          padding-left: 20px;
          line-height: 20px;
          font-size: 17px;
          cursor: text;
          transition: .2s ease;
          width: 100%;
          color: #93959f;
          pointer-events: none;
          font-weight: 500;
        }
      }
      &__submitBtn{
        cursor: pointer;
        color: #fc8019;
        display: inline-block;
        border: none;
        line-height: 50px;
        font-size: 14px;
        font-weight: 600;
        height: 50px;
        padding: 0 2rem;
        margin-top: 2rem;
        letter-spacing: 0;
        color: #fff;
        background-color: #fc8019;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
        text-decoration: none;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.slideOut{
  animation: slideOutFromRight 300ms ease-out forwards;
}

.labelOnFocus{
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  transform: translateY(-70%);
}

.validationError{
  color: #fa4a5b;
}

// 404 error page
.errorPage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5d76b;
  height: 100vh;
  width: 100vw;
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__imgCont{
      width: 18rem;
      img{
        height: 100%;
        width: 100%;
      }
    }
    &__message{
      color: #5f4444;
      font-family: "Montserrat-Regular";
      font-size: 30px;
    }
  }
}